/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.component-container{
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 25px;

    .full-width-form{
        width: 100%;
    }

    .half-width-form{
        width: 80%;
    }

    h3{
        text-align: center;
    }
    
    .button-group{
        text-align: right;
    }

    mat-form-field {
        margin-right: 15px;
        width: 250px;
    }
}
