.admin-container{
    background-color: beige;
    height: 100vh;
}
.main-container{
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
    background-color: white;
}

.example-spacer {
    flex: 1 1 auto;
  }