<div class="component-container">
  <h3>General Information</h3>

  <mat-form-field appearance="fill" class="full-width-form">
    <mat-label>Bible Verse Text</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width-form">
    <mat-label>Bible Verse</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width-form">
    <mat-label>Address</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Parish Preist</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone No</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Office Day</mat-label>
    <input matInput />
  </mat-form-field>

  <h4>Office Times</h4>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Office Times</mat-label>
      <input matInput />
    </mat-form-field>
    <button mat-icon-button color="primary" aria-label="Add a office time">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button color="primary" aria-label="Add a office time">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="button-group">
    <button mat-raised-button color="primary">Publish</button>
  </div>
</div>
