<div class="component-container">
  <h3>Massess</h3>

  <button mat-icon-button color="primary" aria-label="Add a office time">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Add a office time">
    <mat-icon>delete</mat-icon>
  </button>

  <br />

  <!-- <mat-button-toggle value="green">Green</mat-button-toggle>
    <mat-button-toggle value="blue">Blue</mat-button-toggle> -->

  <mat-form-field appearance="fill" class="full-width-form">
    <mat-label>Mass Category</mat-label>
    <input matInput />
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary">Add Mass</button>
  </div>

  <mat-form-field appearance="fill" class="full-width-form">
    <mat-label>Mass</mat-label>
    <input matInput />
  </mat-form-field>

 

  <div class="mass-church">
    <div>
      <h4>St Marys Maharagama</h4>

      <mat-form-field appearance="fill">
        <mat-label>Item</mat-label>
        <input matInput />
      </mat-form-field>

      <button mat-icon-button color="primary" aria-label="Add a office time">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Add a office time">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>
      <h4>St Anthonys Boralesgamuwa</h4>

      <mat-form-field appearance="fill">
        <mat-label>Item</mat-label>
        <input matInput />
      </mat-form-field>

      <button mat-icon-button color="primary" aria-label="Add a office time">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Add a office time">
        <mat-icon>delete</mat-icon>
      </button>

    </div>
  </div>

  <div class="button-group">
    <button mat-raised-button color="primary">Publish</button>
  </div>
</div>
